* {
  margin: 0;
  padding: ;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(./image/background.webp);
  background-repeat: round;
}
.container {
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.todo-app {
  max-width: 500px;
  background-color: white;
  margin: 100px auto 20px;
  border-radius: 20px;
  padding: 40px 30px;
}
.todo-app h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(90, 69, 209);
}
.todo-app img {
  width: 60px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
  border-radius: 10px;
  margin: 30px auto;
}
.row input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 15px;
}
.row button {
  border: none;
  outline: none;
  padding: 15px 50px;
  color: white;
  background-color: rgb(90, 69, 209);
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#list-container li {
  list-style: none;
  font-size: 17px;
  padding: 12px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
#list-container li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(./image/uncheck.png);
  opacity: 0.4;
  background-size: cover;
  background-position: center;
  top: 8px;
  left: -20px;
}
#list-container .checked {
  color: #777777;
  text-decoration: line-through;
}
#list-container .checked::before {
  background-image: url(./image/check.png);
  opacity: 1;
}
#list-container li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #8e8e8e;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
#list-container li span:hover {
  background: #e9e9e9;
}
